header{
    background-color: darkgoldenrod;
    color: ghostwhite;
    text-align: center;
    border-radius: 50%;
}
footer{
    background-color: darkgoldenrod;
    color: ghostwhite;
    text-align: center;
    border-radius: 50%;
}